aiohttp==3.8.4
beautifulsoup4==4.11.2
celery==5.2.7
ciso8601==2.2.0
fastapi==0.93.0
fastapi_utils==0.2.1
lxml==4.9.2
pandas==1.5.2
psycopg2==2.9.5
psycopg2_binary==2.9.5
pydantic==1.10.2
pytest==7.2.1
redis==4.4.0
uvicorn==0.20.0
