html, body, #root {
    margin: 0;
    height: 100%;
}

.horizontal-slider {
    width: 100%;
    height: 50px;
}
*{
    box-sizing: border-box;
}
.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 5px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}
.example-thumb.active {
  background-color: grey;
}
.example-track {
  position: relative;
  background: #ddd;
}
.example-track.example-track-1 {
  background: #83a9ff;
}
.example-track {
  top: 20px;
  height: 4px;
}
.horizontal-slider .example-thumb {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}
.App{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
}
header{
    height: 10%;
}
.infoAndHomeBar{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mainTitle {
    padding: 0 40px 40px;
    width: 548px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    line-height: 56px;
    margin-left: auto;
    margin-right: auto;
    color: #bababa
}
.inputUI{
    background-position-x: 0;
    background-position-y: 0;
    background: rgb(22, 21, 18) linear-gradient(rgb(46, 42, 36), rgb(22, 21, 18) 116px) no-repeat scroll;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}
@media screen and (max-width: 748px){
    .userInputForm{
        width: 100%;
        max-width: 648px;
        padding: 0 16px;
    }
    .ticketBox{
        max-height: 100px;
    }
    .mainTitle{
        font-size: 24px;
        line-height: 34px;
        width: 248px;
    }
}
.userInputForm{
    margin-top: 15px;
}
.userInputForm{
    width: 100%;
    max-width: 748px;
    margin-top: 15px;
}
.userInputForm{
    margin-left: auto;
    margin-right: auto;
}
.dateInputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 748px;
    margin-top: 15px;
    color: #bababa;
}
.requestBox{
    margin-left: auto;
    margin-right: auto;
    float: right;
}
.bubbleItem{
    padding: 3px 5px 3px 10px;
    margin: 3px 5px 3px 0;
    box-shadow: inset 0 0 4px 0 #dcd1c7;
    border: 1px solid #cbc6c3;
    color: #242527;
    max-height: 30px;
    max-width: 250px;
    line-height: 1.4;
    display: flex;
}
.bubbleText{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin: auto;
    text-align: center;
    white-space: nowrap;
}
.ticket{
    margin: 5px;
    flex: 1;
}
.requestBubbleContainer{
    display: flex;
    flex-wrap: wrap;
}

.selectionBubble{
    padding: 3px 5px 3px 10px;
    box-shadow: inset 0 0 4px 0 #dcd1c7;
    border: 1px solid #cbc6c3;
    color: #242527;
    max-height: 30px;
    max-width: 250px;
    cursor: pointer;
    line-height: 1.4;
    display: flex;
    font-size: 16px;
    margin: 0 10px 10px 0;
}

input[type='text']{
    height: 100%;
    border: 0;
    outline: none;
    font-size: 16px;
    width: 100%;
    float: bottom;
    padding-left: 5px;
    background-color: inherit;
    color: #999;
}
.requestBubble{
    border: 1px solid #e0e0e0;
    flex: 1;
    margin: 5px;
}
.graphingButtonContainer{
    border: solid;
}
.ticketBox{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-width: 500px;
}

#createTicketButton{
    margin: 30px auto;
    display: block;
    padding: 12px 20px 10px;
    border: none;
}

.inputContainer{
    border: 0;
    font-size: large;
    padding: 12px 20px;
    outline: none;
    appearance: none;
    box-shadow: 0 0 3pt 2pt gray;
    border-radius: 5px;
    margin: 10px;
    background-color:
}
.paperInputAndDropdown{
    display: block;
}

.delete{
    font-size: large;
    margin-right: 8px;
    font-family: Arial, sans-serif;
    font-weight: lighter;
}
.delete:hover{
    color: gray;
}
input#papers,input#searchTerm{
    height: 100%;
    border: 0;
    font-size: 16px;
    width: 100%;
    float: bottom;
}

label[for="papers"],label[for="searchTerm"]{
    display: none;
}

.bubblesContainer{
    display: flex;
    float: left;
    overflow-x: scroll;
    max-height: 34px;
    height: 34px;
    width: 100%;
    border: 1px dashed #e0e0e0;
    border-radius: inherit;
}

.selectedPaper,.selectedTerm{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: medium;
    text-align: center;
    white-space: nowrap;
}

.searchLabel{
    font-size: large;
}
.dropdownContainer{
    max-width: 600px;
    position: relative;
    z-index: 5;
    bottom: 20px;
}
.paperDropdown {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    max-height: 300px;
    display: block;
    overflow-y: scroll;
    font-size: 16px;
    width: 100%;
    border-color: slategray;
    box-sizing: border-box;
    box-shadow: 0 4px 5px rgba(0,0,0,.15);
    position: absolute;
}
.paperDropdown > *:hover{
    background-color: blue;
    color: white;
}
.paperDropdownItem{
    display: block;
    list-style: none;
    border: none;
    width: 100%;
    text-align: left;
    background-color: white;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown > *:hover{
    background-color: blue;
    color: white;
}

.queryProgressUI, .ticketResultsContainer{
    max-width: 90vw;
    min-height: 80vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}
.ticketProgressBox, .groupedStat{
    border: solid;
    width: calc(100% - 40px);
    max-width: 800px;
    margin: 20px;

}
.ticketResults{
    flex: 1;
}
.topPaperTable{
    width: 100%;
    max-width: 800px;
    margin: 20px;
}
td{
    max-width: 100px;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
td:hover{
    overflow: visible;
    white-space: normal;
    height: auto;
}
tr:hover{
    background-color: lightblue;
}
.resultUI{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.graphGroupButton{
    margin-left: auto;
    margin-right: auto;
}
.groupedLabelBar{
    display: flex;
}
.ticketLabel{
    flex: 1;
}
.ticketLabel *{
    font-size: 16px;
}
.groupedResultsUI{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.groupedResultsUI > div{
    margin: 20px;
}
.groupedStatBar, .groupedLabelBar{
    display: flex;
    border: solid;
    flex-wrap: wrap;
    justify-content: center;
}
.groupedLabel{
    flex: 1;
}
.groupedStat{
    border: solid;
    padding: 30px;
}
.groupedLabel *{
    font-size: 16px;
}
