/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: gray;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: gray;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: cadetblue;
  color: white;
}



.progressDescription{
    text-align: center;
}

.progressBars{
    margin: auto;
    width: 50%;
    height: 50px;
}
/* Style the search box inside the navigation bar */
.progressBox{
    margin: auto;
}
.mainTitle {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.homeLink{
    text-decoration: none;
    background-color: white;
    color: black;
}

#graphImage{
    width: 100%;
}

#topPapersAndGraph{
    display: flex;
    flex-direction: row;
}

.mainElements{
    font-family: "Palatino Linotype", Palatino, "Gentium Plus", serif;
}

.mainSearch {
  margin: auto;
  width: 70%;
  border: 1px;
  height: 70%;
}

.mainText{
    margin: auto;
    width: 50%;
}

.search {
    margin: auto;
    width: 75%;
}

input[type=text]:focus {
    outline:none;
    border: 1px solid #000;
}

:root {
  --dur: .3s;
  --color-dark: black;
  --color-light: white;
  --font-fam: 'Times New Roman', sans-serif;
  --height: 50%;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

input[type="submit"]{
    width: 50%;
    height: 100%;
    font-family: var(--font-fam);
    padding: 12px 20px;
    margin: 15px 0;
    outline: none;
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
    box-shadow: 0 0 3pt 2pt gray;
    font-size: x-large;
}

input#searchTerm,input#yearRange,.inputContainer {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: large;
    width: auto;
    padding: 12px 20px;
    display: inline-block;
    outline: none;
    margin-top: 15px;
    appearance: none;
    box-shadow: 0 0 3pt 2pt gray;
}
.paperInputAndDropdown{
    display: block;
}
.inputContainer{
    display: flex;
    flex-direction: column;
}

.delete{
    font-size: large;
    margin-right: 8px;
    font-family: Arial, sans-serif;
    font-weight: lighter;
}
.delete:hover{
    color: gray;
}

input#papers{
    height: 100%;
    font-family: var(--font-fam);
    border: 0;
    font-size: large;
    width: 100%;
    float: bottom;
    margin-top: 5px;
}

label[for="papers"]{
    display: none;
}

.inputTitle{
    font-size: large;
}

.paperBubblesContainer{
    display: flex;
    float: left;
    height: auto;
    flex-wrap: wrap;
}

.bubblePaper{
    padding: 3px 5px 3px 10px;
    margin: 3px 0 3px 5px;
    box-shadow: inset 0 0 4px 0 #dcd1c7;
    border: 1px solid #cbc6c3;
    color: #242527;
    max-height: 30px;
    max-width: 250px;
    cursor: pointer;
    line-height: 1.4;
    display: flex;
}

.selectedPaper{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: medium;
    margin: auto;
    text-align: center;
    white-space: nowrap;
}


/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    font-family: "Palatino Linotype", Palatino, "Gentium Plus", serif;
  }
}

.searchLabel{
    font-size: large;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#hidden-form-group{
    display: none;
}

.submit-group{
    width: 100%;
    margin-top: 40px;
}

.settingLabel{
    font-size: medium;
    float: left;
    width: 20em;
    margin-right: 15px;
}
@media screen and (max-width: 600px) {
    .resultElements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}
}

.dropdown {
    top: 100%;
    display: block;
    max-height: 100px;
    overflow-y: scroll;
    width: 100%;
    border-color: slategray;
    box-sizing: border-box;
    padding-left: 0;
    box-shadow: 0 4px 5px rgba(0,0,0,.15);
}

.paperOptionDrop{
    display: list-item;
    list-style: none;
    margin: 2px;
}

.dropdown > *{
    cursor: pointer;
}

.dropdown > *:hover{
    background-color: blue;
    color: white;
}

.bottomBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.graphTitle{
    font-size: x-large;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.loadingElements{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loadingBar {
    width: 50%;
    background-color: lightgray;
}

.twoBars{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-direction: column;
}

.findingResultsBar {
  width: 1%;
  height: 30px;
  background-color: cadetblue;
}

.establishResultsBar {
  width: 1%;
  height: 30px;
  background-color: cadetblue;
}

.footer{
    height: 5%;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}