/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: gray;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: gray;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: cadetblue;
  color: white;
}

html, body {
  margin: 0;
  height: 100%;
}

.mainElements{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.progressDescription{
    text-align: center;
}

.progressBars{
    margin: auto;
    width: 50%;
    height: 50px;
}
/* Style the search box inside the navigation bar */

.mainTitle {
  margin: auto;
  width: 100%;
  border: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  font-size: xx-large;
}

.mainSearch {
  margin: auto;
  width: 75%;
  border: 1px;
  height: 75%;
}

.mainText{
    margin: auto;
    width: 50%;
}

.search {
    margin: auto;
    width: 75%;
}

input[type=text]:focus {
    outline:none;
    border: 1px solid #000;
}

:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: black;
  --color-light: white;
  --font-fam: 'Times New Roman', sans-serif;
  --height: 50%;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

form {
    margin: auto;
    width: 100%;
    border-radius: var(--rad);
}

input[type="submit"]{
    width: 50%;
    height: 100%;
    font-family: var(--font-fam);
    padding: 12px 20px;
    margin: 15px 0;
    outline: none;
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
    box-shadow: 0 0 3pt 2pt gray;
    font-size: x-large;
}

input[type="text"],input[type="search"],input#papers,input#searchTerm,input#yearRange {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: large;
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    outline: none;
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
    box-shadow: 0 0 3pt 2pt gray;
}


/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}

.searchLabel{
    font-size: large;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#hidden-form-group{
    display: none;
}

.submit-group{
    width: 100%;
    margin-top: 40px;
}

.settingLabel{
    font-size: medium;
    float: left;
    width: 20em;
    margin-right: 15px;
}

.resultElements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 75%;
}

.bottomBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.graph{
    width: 100%;
    margin: auto;
}

.graph #Graph{
    width: 100%;
    height: auto;

}

.downloadAndTopPapers{
    width: 25%;
    float: left;
}

.loadingElements{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loadingBar {
    width: 50%;
    background-color: lightgray;
}

.twoBars{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-direction: column;
}

.findingResultsBar {
  width: 1%;
  height: 30px;
  background-color: cadetblue;
}

.establishResultsBar {
  width: 1%;
  height: 30px;
  background-color: cadetblue;
}

