<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <meta charset="UTF-8">
    <title>The Gallica Grapher</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </div>
    <div class = "mainElements">
        <div class = "mainText">
            <div class = "intro">
                <p>This is a simple get-and-graph tool that draws on word data from the French national library's online archive of newspapers, mostly.
                It is the author's first foray at API integration and website design, so any and all suggestions are welcome!
                </p>
            </div>
            <div class = "usage">
                <p>
                    <br>
                    <br>Example usages:
                    <br>
                    <br>Search term: brazza
                    <br>Newspapers: all
                    <br>Year range: 1860-1900
                    <br>Restrict year range: true (box checked)
                    <br>
                    <br>This would search through all newspapers on Gallica's website for the term "brazza".
                </p>
            </div>
    </div>
</body>
</html>