<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>The Gallica Grapher</title>
</head>
<body>
    <div class = mainElements>
        <div class="mainTitle">
            The Gallica Grapher
        </div>
        <div class="mainSearch">
            {% from "_formHelper.html" import render_field %}
            <form method=post id="searchStuff">
                <div class = "form-group">
                    {{ render_field(form.searchTerm) }}
                </div>
                <div class = "form-group">
                    <label class="inputTitle">
                        Do you want a specific paper or papers?
                    </label>
                    <div class = "inputContainer">
                        <div class = 'paperBubblesContainer'>
                        </div>
                        {{ render_field(form.papers, autocomplete="off") }}
                    </div>
                    <div class = "dropdown">
                    </div>
                </div>
                <div class = "form-group">
                    {{ render_field(form.yearRange) }}
                </div>
                <div class = "form-group" id="strictness">
                    {{ render_field(form.strictYearRange) }}
                </div>
                <div class = "form-group">
                    <input type=submit value=Go id="gobutton">
                </div>
            </form>
        </div>
        <div class="footer">
            <a>Neat Neat Neat</a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/myscripts.js"></script>
</body>
</html>