<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>The Gallica Grapher</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="{{ url_for('home')}}">Home</a>
        <a href="{{ url_for('about')}}">About</a>
        <a href="{{ url_for('contact')}}">Contact</a>
    </div>
    <div class = mainElements>
        <div class="mainTitle">
            <p> The Gallica Grapher</p>
        </div>
        <div class="mainSearch">
            {% from "_formHelper.html" import render_field %}
            <form method=post id="searchStuff">
                <div class = "form-group">
                    {{ render_field(form.searchTerm) }}
                </div>
                <div class = "form-group">
                    <label class="inputTitle">
                        Do you want a specific paper or papers?
                    </label>
                    <div class = "inputContainer">
                        <div class = 'paperBubblesContainer'>
                        </div>
                        {{ render_field(form.papers, autocomplete="off") }}
                    </div>
                    <div class = "dropdown">
                    </div>
                </div>
                <div class = "form-group">
                    {{ render_field(form.yearRange) }}
                </div>
                <div class = "form-group" id="strictness">
                    {{ render_field(form.strictYearRange) }}
                </div>
                <div class = "form-group">
                    <input type=submit value=Go>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../static/myscripts.js"></script>
</body>
</html>