<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/myscripts.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <title>The Gallica Grapher</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="{{ url_for('home')}}">Home</a>
        <a href="{{ url_for('about')}}">About</a>
        <a href="{{ url_for('contact')}}">Contact</a>
    </div>
    <div class = "mainElements">
        <div class = "loadingElements">
            <label for="progressBar">Retrieving results...</label>
            <div id = "progressBar">

            </div>
        </div>

    </div>
</body>
</html>