<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/progress.js"></script>
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
    rel = "stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <title>The Gallica Grapher</title>
    <script>
    $(function(){
        $("#progressBar").progressbar({
            value: 0
        });
    });
    </script>
</head>
<body>
    <div class="topnav">
        <a class="active" href="{{ url_for('home')}}">Home</a>
        <a href="{{ url_for('about')}}">About</a>
        <a href="{{ url_for('contact')}}">Contact</a>
    </div>
    <div class = "mainElements">
        <div class = "progressBox">
            <p id="discoveryDescription">Discovering total results...</p>
            <div id = "discoveryBar"></div>
            <p id="retrievalDescription">Retrieving results...</p>
            <div id = "retrievalBar"></div>
        </div>
    </div>
</body>
</html>