<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/myscripts.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <title>The Gallica Grapher</title>
</head>
<body>
<!--TODO: beautify, add downloads for graph and CSV-->
    <div class = "mainElements">
        <div class="mainTitle">
            <a class = "homeLink" href="http://127.0.0.1:5000/">The Gallica Grapher</a>
        </div>
        <div class = "graphTitle">
            <a>Usage of '{{term[0]}}' from {{dateRange[0]}} to {{dateRange[1]}}</a>
        </div>
        <div id = "topPapersAndGraph">
             <div id='chart'>
            <img id="graphImage" src="../static/{{requestID}}.svg"  alt="Graph of word frequency data. CSV also available to download."/>
        </div>
        <div id = "topPapers">
            <div class = "scroller">
                <table id = "TopPapersTable">
                      <tr><th>Frequency</th><th>Paper</th>
                    {% for paperCount in topPapers %}
                        <tr><td>{{ paperCount[1] }}</td><td> {{ paperCount[0] }}</td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        </div>
        <div id = download>
            <p> Download CSV || Download Graph(s). </p>
        </div>
    </div>
    <div class="footer">
        <a>Neat Neat Neat</a>
    </div>
</body>
</html>